<h1>All Tours</h1>

<%= link_to "New Tour", new_tour_path, class: "btn btn-primary" %>

<div class="row">
  <% @tours.each do |tour| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag "https://source.unsplash.com/random/?barcelona", class: "bd-placeholder-img card-img-top", alt: tour.name %>
        <div class="card-body">
          <h5 class="card-title"><%= tour.name %></h5>
          <p class="card-text"><%= tour.description %></p>
          <p class="card-text"><strong>Date:</strong> <%= tour.date.strftime("%B %d, %Y") %></p>
          <p class="card-text"><strong>Price:</strong> <%= number_to_currency(tour.price) %></p>
          <% if tour.bookings.any? %>
            <ul class="list-group list-unstyled mt-3 mb-4">
              <% tour.bookings.each do |booking| %>
                <li class="list-group-item"><strong>Booked on:</strong> <%= booking.date.strftime("%B %d, %Y") %> - <strong>Number of people:</strong> <%= booking.number_of_people %></li>
              <% end %>
            </ul>
          <% else %>
            <p><em>No bookings yet.</em></p>
          <% end %>
          <div class="d-flex justify-content-between align-items-center">
            <%= link_to "Edit", edit_tour_path(tour), class: "btn btn-secondary" %>
            <%= link_to "Delete", tour_path(tour), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New Tour", new_tour_path, class: "btn btn-primary" %>

<%= form_with model: @tour, local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_select :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <%= form.submit "Create Tour", class: "btn btn-primary" %>
<% end %>
