# app/views/tours/new.html.erb
<h1>New Tour</h1>

<%= form_with(model: @tour, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :price %>
  <%= form.text_field :price %>

  <%= form.label :date %>
  <%= form.date_field :date %>

  <%= form.submit %>
<% end %>
